
// colors
$color-primary: #F1CDB3; 


// text and links colors
$color-lite: #FFFFFF;
$color-white: #FAFAFA;

$color-grey: #CDCDCD; 
$color-grey-1: #B2B2B2;

$color-text-button: #292929; 

$color-black: #545454; 
$color-black-1: #4C4C4C;
$color-black-2: #292929;
// hover colors
$color-primary-light: #FDDCC4; 


// hamburger
$color-hamburger: #000000;

$color-dark: #000000;
// blocks backgrounds
$background-color-main: #FFFFFF;
$background-color-second: #F6F6F6; 
$background-color-gradient: radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%), #211F20; 



// adaptive 
$content-width: 1280px; 
$content-width-2: 1270px; 
$tablet-width: 768px; 
$mobile-small-width: 320px;
$mobile-big-width-2: 767px;

// $mobile-big-width: 414px;