%transition {
  transition: all .3s ease-in-out;
}

%transition-2 {
  transition: all 1s ease-in-out;
}

%font-primary {
  font-family: 'Georgia';
}

%font-add {
  font-family: 'Arial';
}
